################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/Amazon-MWS-Client/bin
/VAmazon-MWS-Client/obj
/packages