################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/AmazonMWSClientSample/bin
/AmazonMWSClientSample/obj
/src/AmazonMWSClientLib/bin
/src/AmazonMWSClientLib/obj
/packages